<a href="https://colab.research.google.com/github/nikhilkumarreddy/counting-unmarked-/blob/master/Untitled65.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df= pd.read_csv('/content/drive/My Drive/counting-unmarked--master/attt.csv',index_col='Date')
df.head()

            Assembly  Hour 0 Hour 1 Hour 2  ... Hour 8 Hour 9 Hour 10 Hour 11
Date                                        ...
09 Nov 2019        -     NaN      -      P  ...      P      P       -     NaN
08 Nov 2019        P     NaN      -      P  ...      U      U       -     NaN
07 Nov 2019        P     NaN      -      P  ...      P      -       -     NaN
06 Nov 2019        P     NaN      -      P  ...      -      -       -     NaN
05 Nov 2019        -     NaN      -      P  ...      -      -       -     NaN

[5 rows x 13 columns]

In [0]:
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df.drop(["Hour 0","Hour 1","Hour 6","Hour 10","Hour 11"],axis=1,inplace=True)

In [4]:
df.head()

            Assembly Hour 2 Hour 3 Hour 4 Hour 5 Hour 7 Hour 8 Hour 9
Date
09 Nov 2019        -      P      P      P      P      -      P      P
08 Nov 2019        P      P      P      P      P      -      U      U
07 Nov 2019        P      P      P      P      P      P      P      -
06 Nov 2019        P      P      P      P      P      P      -      -
05 Nov 2019        -      P      P      P      P      -      -      -

In [5]:
df3= pd.read_csv('/content/drive/My Drive/counting-unmarked--master/atttt.csv',index_col='Day')
df3.head()

            Hour 2         Hour 3  ...   Hour 8        Hour 9
Day                                ...
Monday      Andrew         Roshni  ...  Bijolin  Rajesh ruban
Tuesday    Shamila          Tatha  ...   Bright           NaN
Wednesday  Bijolin  Radha Krishna  ...      NaN           NaN
Thursday    Andrew       Katharin  ...    Ketsy           NaN
Friday       Tatha        Shamila  ...  Shamila       Shamila

[5 rows x 7 columns]

In [0]:
Assembly=['Esther','Esther','Esther','Esther','Esther']

In [0]:
df3['Assembly']=Assembly

In [8]:
df.head(10)

            Assembly Hour 2 Hour 3 Hour 4 Hour 5 Hour 7 Hour 8 Hour 9
Date
09 Nov 2019        -      P      P      P      P      -      P      P
08 Nov 2019        P      P      P      P      P      -      U      U
07 Nov 2019        P      P      P      P      P      P      P      -
06 Nov 2019        P      P      P      P      P      P      -      -
05 Nov 2019        -      P      P      P      P      -      -      -
02 Nov 2019        -      -      -      -      -      P      P      -
01 Nov 2019        -      P      P      -      -      -      -      -
30 Oct 2019        -      A      A      -      -      -      -      -
29 Oct 2019        A      P      P      P      P      P      P      -
25 Oct 2019        M      P      M      M      M      -      M      M

In [9]:
df3

            Hour 2         Hour 3        Hour 4  ...   Hour 8        Hour 9 Assembly
Day                                              ...
Monday      Andrew         Roshni   Karthikeyan  ...  Bijolin  Rajesh ruban   Esther
Tuesday    Shamila          Tatha   Karthikeyan  ...   Bright           NaN   Esther
Wednesday  Bijolin  Radha Krishna  Rajesh ruban  ...      NaN           NaN   Esther
Thursday    Andrew       Katharin         Tatha  ...    Ketsy           NaN   Esther
Friday       Tatha        Shamila      Katharin  ...  Shamila       Shamila   Esther

[5 rows x 8 columns]

In [0]:
result=pd.DataFrame(index=['Andrew','Roshni','Karthikeyan','Basil','Shamila','Bijolin','Rajesh ruban','Radha Krishna','Katharin','Tatha','Ketsy','Esther'],
                    columns=df.index)

In [29]:
result.head(10)

Date          09 Nov 2019 08 Nov 2019  ... 10 Jul 2019 09 Jul 2019
Andrew                NaN         NaN  ...         NaN         NaN
Roshni                NaN         NaN  ...         NaN         NaN
Karthikeyan           NaN         NaN  ...         NaN         NaN
Basil                 NaN         NaN  ...         NaN         NaN
Shamila               NaN      Hour 9  ...         NaN         NaN
Bijolin               NaN         NaN  ...         NaN         NaN
Rajesh ruban          NaN         NaN  ...         NaN         NaN
Radha Krishna         NaN         NaN  ...         NaN         NaN
Katharin              NaN         NaN  ...      Hour 5         NaN
Tatha                 NaN         NaN  ...         NaN         NaN

[10 rows x 84 columns]

In [0]:
for roju in df.index:
  day_=pd.Timestamp(roju).day_name()
  s=pd.Series(df.loc[roju].where(lambda x : x=='U'  ))
  out=list(s[s=='U'].index)
  for i in out:
    staff=df3.loc[day_,i]
    result.loc[staff,roju]=i

In [0]:
for col in result.columns:
  for row in result.index:
    if result[row]
      print(row)

In [34]:
result.loc['Shamila'].notnull().any().sum()

1

In [26]:
result.loc['Andrew']

Date
09 Nov 2019    NaN
08 Nov 2019    NaN
07 Nov 2019    NaN
06 Nov 2019    NaN
05 Nov 2019    NaN
              ...
13 Jul 2019    NaN
12 Jul 2019    NaN
11 Jul 2019    NaN
10 Jul 2019    NaN
09 Jul 2019    NaN
Name: Andrew, Length: 84, dtype: object